__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
.dockerignore
.DS_Store
.pytest_cache
.coverage
*.log
instance/
.webassets-cache
.settings
.pydevproject
.project
node_modules
static/css/*.css.map
static/js/*.js.map